.movie__inner {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    li {
      width: 24%;
      a {
        color: #fff;
      }
    }
    p {
      color: #fff;
      text-align: center;
    }
  }
}

.movie__search {
}
